.about{
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 4rem 2rem;
}
.about-image {
   height: 100%;
   width: 100%;
   object-fit: cover;
  
}
.about-image img{
    height: 100%;
    width: 100%;
   object-fit: cover;
   border-radius: 10px;
}
.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.about-text h2{
    font-size: 2.5rem;
    color: #333;
}
.about-text p{
    font-size: 1.2rem;
    color: #666;
    line-height: 1.3;
    text-align: center;
}
.about-text .about-btn{
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #ff004f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.about-text .about-btn:hover{
    background-color: #e60045;
}
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        padding: 2rem;
    }
    .about-text h2 {
        font-size: 2rem;
    }
    .about-text p {
        font-size: 1rem;
    }
}




