.contact-section {
  padding: 80px 20px;
  text-align: center;
  background: #0F0F0F;
  color: white;
}

.contact-form {
  width: 350px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #222;
  color: white;
}

.contact-form button {
  background: #FF004F;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.contact-form button:hover {
  opacity: .8;
}
