.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.navlinks{
    display: flex;
    gap: 20px;
    list-style: none;
}
.navlinks li a{
    text-decoration: none;
    color: #fff;

}
.navlinks li a:hover{
    color: #ff004f;
    transition: color 0.3s ease;
}
.logo{
    font-size: 2.2rem;
    color: #ff004f;
    font-weight: bold;
    text-shadow:  0 0 8px #FF004F;


   

}